#segundo {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    text-align: center;
    padding-top: 5em;


    border: black 50px solid;
    border-image-source: url("../img/1/flores.png");

    border-image-repeat: round;
    border-image-slice: 150;
    border-image-repeat: space;
    border-image-width: 50%;
    margin: 1em;
    padding: 10em 0;


}

.animated-title {
    font-family: 'amoresa';
    font-weight: bolder;
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn  forwards;
    height: fit-content;
}

/* Animación para cada letra */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}