#segundo {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    text-align: center;



    border: black 30px solid;
    border-image-source: url("../img/1/arabesco_esquina.webp");
    border-image-repeat: round;
    border-image-width: 50%;
    border-image-slice: 50%;
    border-image-outset: 0;
    margin: 1.5em;
    /* margin: 1em; */
    /* padding: 10em 50em; */

    span {
        text-shadow: 2px 2px 12px;
        &:nth-child(5) {
            padding-left: 28px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {

            padding-top: 5em;

        }

        &:nth-child(9) {
            padding-left: 28px;

        }

        &:nth-child(12) {
            margin-right: 10px;

        }

        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(16) {

            padding-bottom: 5em;


        }
    }

}

.animated-title {
    font-family: 'amoresa';
    font-weight: bolder;
    font-size: 2em;
    overflow: visible;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn forwards;
    height: fit-content;
   

}

/* Animación para cada letra */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}