#cuarto {
    background-image: url('../img/1/flores.webp');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    display: grid;
    justify-content: space-around;
    text-align: center;

    font-family: 'amoresa', Arial, Helvetica, sans-serif;
    font-size: .5em;
    padding: 10em 0 0 0;
  
    div:nth-child(4) {
        font-size: 2em;
    }
    div:nth-child(5) {
        position: relative;
    }
    div:nth-child(5)::after {
        content: "";
        display: inline-block;
        background-image: url('../img/1/adornoariiba-compress.webp');
        background-size: 50px 50px;
        width: 100%;
        height: 50px;
        position: absolute;
        transform: translate(-400px, 110px);
    }

    div:nth-child(7) {
        position: relative;
    }

    div:nth-child(7)::after {
        content: "";
        display: inline-block;
        background-image: url('../img/1/adornoabajo-compress.webp');
        background-size: 50px 50px;
        width: 100%;
        height: 50px;
        position: absolute;
        transform: translate(-240px,6px);
   
    }

    img {
        width: 15em;
        border-radius: 50%;
        object-fit: 100%;
        height: 16em;
      margin: 0.5em;
    }

    .contador {
        width: 25em;
        height: 12em;
        border: solid 5px rgb(245, 202, 34, 0.8);
        margin: 0 auto;
        background-image: url('../img/1/corazones-compress.webp');
        background-position: center;
        background-repeat: repeat;
        background-size: 20%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
        align-items: end;
        padding: 0 0.5em 0.5em 0.5em;
        position: relative;
        margin-top: 0.5em;

        .texto_flotante {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'EBGaramond', Arial, sans-serif;
            font-weight: bolder;
            font-size: 2em;
            text-shadow: 1px 1px 1px;
            display: grid;
            grid-template-columns: repeat(4,auto);
            text-align: center;
        
            width: 100%;
    
            
          i{
            padding-right: 0.7em;
            border-radius: 50%;
            background-color: rgb(240, 255, 255,0.5);
            text-shadow: 3px 3px 3px;
          }
        }
        span {
            border: solid 3px rgb(51, 51, 51, 0.9);
            background-color: rgb(222, 184, 135, 0.9);
            height: 50%;
            width: 1.8em;
            
        }
    }
}