#cuarto {


    display: grid;
    justify-content: space-around;
    text-align: center;

    font-family: 'amoresa', Arial, Helvetica, sans-serif;
    font-size: .5em;
    padding: 10em 0 0 0;

    div:nth-child(2),
    div:nth-child(3) {
        font-size: 1.5em;
    }

    div:nth-child(5) {
        font-size: 2em;
    }

    div:nth-child(6) {
        position: relative;

    }

    div:nth-child(6)::after {
        content: "";
        display: inline-block;
        background-image: url('../img/1/adornoariiba-compress.webp');
        background-size: 220px 50px;
        width: 60%;
        height: 50px;
        position: absolute;
        transform: translate(80px, 160px);
    }



    div:nth-child(7) {
        position: relative;
        margin-top: 5em;
    }

    div:nth-child(8) {
        position: relative;
        transform: translateY(-30px);
    }

    div:nth-child(8)::after {
        content: "";
        display: inline-block;
        background-image: url('../img/1/adornoabajo-compress.webp');
        background-size: 250px 50px;
        width: 60%;
        height: 50px;
        position: absolute;
        transform: translate(-140px, 10px);

    }

    div:nth-child(6) {
        display: grid;
        grid-template-columns: repeat(3, auto);

        img {
            width: 15em;
            border-radius: 50%;
            object-fit: cover;
            height: 16em;
            margin: 0.5em;
            border: solid 5px #333;
        }
    }





}