#septimo {

margin: 10px;
    width:100%;

   gap: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150, 1fr));

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
      /* aspect-ratio: auto; */
      
    }
}