#quinto {
    display: grid;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: .6em;



    img {
        width: 30em;
        display: inline-block;
        margin: 0 auto;

    }

    span {
        font-family: 'EBGaramond', Arial, sans-serif;
        font-weight: 300;

    }

    div {
        position: relative;


        &:nth-child(1) {
            font-size: 1.5em;

            span {
                font-family: 'Amoresa';
            }


            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 220px 50px;
                width: 70%;
                height: 50px;
                position: absolute;
                transform: translate(-150px, -40px);
            }
        }

        &:nth-child(2) {
            transform: translateY(-10px);
        }

        &:nth-child(3) {
            transform: translateY(-30px);
        }

        &:nth-child(4) {
            transform: translateY(-55px);

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 250px 50px;
                width: 70%;
                height: 50px;
                position: absolute;
                transform: translate(-150px, 30px);
            }
        }

        &:nth-child(6) {
            /* transform: translateY(-55px); */
            font-size: 1.5em;

            span {
                font-family: 'Amoresa';
            }

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 300px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-290px, -30px);

            }

        }

        &:nth-child(7) {
            transform: translateY(-10px);
        }

        &:nth-child(8) {
            transform: translateY(-30px);

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 300px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-230px, 10px);

            }
        }

        &:nth-child(9) {

            font-size: 1.1em;

            span {
                font-family: 'Amoresa';
            }

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 300px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-230px, -30px);

            }

            &::before {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 300px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-70px, 20px);

            }
        }



    }



    #cupo {

        font-size: 2em;
font-weight: bold;

        font-family: 'Amoresa';



        &::after {
            content: "";
            display: inline-block;
            background-image: url('../img/1/adornoariiba-compress.webp');
            background-size: 300px 50px;
            width: 55%;
            height: 50px;
            position: absolute;
            transform: translate(-300px, -70px);

        }

        &::before {
            content: "";
            display: inline-block;
            background-image: url('../img/1/adornoabajo-compress.webp');
            background-size: 300px 50px;
            width: 55%;
            height: 50px;
            position: absolute;
            transform: translate(-90px, 60px);

        }
    }
}