/* Animación para cada letra */
@keyframes puntero {
    0% {

        transform: rotateY(180deg) translate(10px, -50px);
    }

    50% {

        transform: rotateY(0) translate(20px, -50px);
    }

    100% {

        transform: rotateY(180deg) translate(10px, -50px);
    }
}



#quinto {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .6em;


    p {
        font-family: 'amoresa';
        font-size: 2em;
        position: absolute;
        transform: translateX(100px);
     
        a{
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
         

        }
    }

    a {
        position: relative;

        img {
            width: 15em;
            display: inline-block;
            margin: 0 auto;
            object-fit: cover;
            filter: drop-shadow(5px 5px 5px black);

            &:nth-child(1) {
                position: absolute;
                z-index: 2;

                animation: puntero 4s ease-in-out infinite;
                transform: translate(10px, -50px);

            }

        }
    }



    span {
        font-family: 'EBGaramond', Arial, sans-serif;
        font-weight: 300;

    }

    div {
        position: relative;


        &:nth-child(1) {
            font-size: 1.5em;
            transform: translateY(50px);


            span {
                font-family: 'Amoresa';
            }


            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 220px 50px;
                width: 90%;
                height: 50px;
                position: absolute;
                transform: translate(-150px, -40px);
            }
        }

        &:nth-child(2) {
            transform: translateY(20px);
        }

        &:nth-child(3) {
            transform: translateY(40px);

        }

        &:nth-child(4) {
            transform: translateY(-45px);

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 250px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-150px, 40px);
            }
        }

        &:nth-child(6) {
            /* transform: translateY(-55px); */
            font-size: 1.5em;

            span {
                font-family: 'Amoresa';
            }

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 300px 50px;
                width: 120%;
                height: 50px;
                position: absolute;
                transform: translate(-290px, -30px);

            }

        }

        &:nth-child(7) {
            transform: translateY(-10px);
        }

        &:nth-child(8) {
            transform: translateY(-30px);

            /* &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 300px 50px;
                width: 100%;
                height: 50px;
                position: absolute;
                transform: translate(-230px, 10px);

            } */
        }

        &:nth-child(9) {
            position: relative;
            transform: translateY(-70px);

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 320px 50px;
                width: 120%;
                height: 50px;
                position: absolute;
                transform: translate(-270px, 20px);
            }

        }

        &:nth-child(10) {
            position: relative;
            font-size: 1.1em;
            transform: translate(0px, -10px);


            span {
                font-family: 'Amoresa';


                color: #333;
                text-shadow: 3px 3px 3px goldenrod;
            }

            &::after {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoariiba-compress.webp');
                background-size: 300px 50px;
                width: 120%;
                height: 50px;
                position: absolute;
                transform: translate(-230px, -40px);

            }

            &::before {
                content: "";
                display: inline-block;
                background-image: url('../img/1/adornoabajo-compress.webp');
                background-size: 300px 50px;
                width: 120%;
                height: 50px;
                position: absolute;
                transform: translate(-70px, 20px);

            }
        }



    }



    #cupo {

        font-size: 2em;
        font-weight: bold;
        font-family: 'Amoresa';



        /* &::after {
            content: "";
            display: inline-block;
            background-image: url('../img/1/adornoariiba-compress.webp');
            background-size: 300px 50px;
            width: 55%;
            height: 50px;
            position: absolute;
            transform: translate(-300px, -70px);

        } */

        &::before {
            content: "";
            display: inline-block;
            background-image: url('../img/1/adornoabajo-compress.webp');
            background-size: 300px 50px;
            width: 55%;
            height: 50px;
            position: absolute;
            transform: translate(-110px, 60px);

        }
    }
}