@font-face {
    font-family: 'CloudLucent';
    src: url('../font/cloud-lucent-regular-maisfontes.0faf/cloud-lucent-regular.ttf') format('truetype');
}

#tercero {
    display: grid;
    place-content: center;
    padding: 0 1.5em;

    p {
        font-family: 'CloudLucent', 'Amoresa', Arial, sans-serif;
        padding-bottom: 1em;
    }
}